body {
    background-color: #282c34;
    color: white;
}

main {
    display: flex;

    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    height: 100vh;
}

.action {
    background-color: #584c64;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #382c44;
    color: white;
    display: block;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 1s;
}

.viewport {
    background-color: #27175f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin degs($action-radius) {
    @for $i from 0 through 359 {
        @keyframes rotateDeg#{$i} {
            0% {
              transform: rotate(45deg) translate($action-radius) rotate(-45deg);
            }
            100% {
              transform: rotate(#{$i}deg) translate($action-radius) rotate(-#{$i}deg);
            }
          }

        .deg#{$i} {
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-name: rotateDeg#{$i};
            transform: rotate(45deg) translate($action-radius) rotate(-45deg);;//rotate(#{$i}deg) translate($action-radius) rotate(-#{$i}deg);
        }
    }
}

@media (orientation: landscape) {
    $padding: 6vh;
    $viewport-radius: 50vh - $padding;

    @include degs($viewport-radius);

    main {
        padding: $padding;
    }

    .wrapper {
        width: $viewport-radius * 2;
        height: $viewport-radius * 2;
        position: relative;
    }

    $action-size: 10vh;

    .action {
        font-size: 2.5vh;
        width: $action-size;
        height: $action-size;
        top: $viewport-radius - ($action-size / 2);
        left: $viewport-radius - ($action-size / 2);
    }

    .viewport {
        width: 100%;
        height: 100%;
    }
}

@media (orientation: portrait) {
    $padding: 6vw;
    $viewport-radius: 50vw - $padding;

    @include degs($viewport-radius);

    main {
        padding: $padding;
    }

    .wrapper {
        width: $viewport-radius * 2;
        height: $viewport-radius * 2;
        position: relative;
    }

    $action-size: 10vw;

    .action {
        font-size: 2.5vw;
        width: $action-size;
        height: $action-size;
        top: $viewport-radius - ($action-size / 2);
        left: $viewport-radius - ($action-size / 2);
    }

    .viewport {
        width: 100%;
        height: 100%;
    }
}
